.form {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	position: static;
	top: 0;
	background-color: darkgrey;
	color: black;
}
	.form input {
		width: 350px;
		height: 100px
		margin-top: 10px;
		margin-bottom: 10px;
	}
		.form input.submit {
			width: 100px;
		}
	.form label {
		margin-bottom: 10px;
	}
	.form h2 {
		text-align: center;
		font-size: 50px;
	}
